@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Noto Sans JP',
    sans-serif;
}

body {
  font-size: 1em;
  line-height: 1.5;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
dl,
dd,
figure {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #f33;
  text-decoration: none;
}
